alabaster
aniso8601
anyio
apeye
apeye-core
asttokens
attrs
Babel
beautifulsoup4
blinker
boto3
botocore
Brotli
certifi
cffi
charset-normalizer
ciecplib
click
colorama
comm
contourpy
cryptography
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
debugpy
decorator
dependency-dash
deprecation
deprecation-alias
dist-meta
docutils
dom_toml
domdf-python-tools
et-xmlfile
executing
fastjsonschema
Flask
Flask-Compress
fonttools
fredapi
frozendict
fuzzywuzzy
github3.py
gunicorn
h11
handy-archives
html5lib
idna
imagesize
importlib_metadata
importlib_resources
investiny
investpy
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
jsonschema
jsonschema-specifications
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
morningstar-data
MouseInfo
mplfinance
multitasking
natsort
nbformat
nest-asyncio
numpy
numpydoc
openpyxl
packaging
pandas
pandas-datareader
parso
peewee
pillow
platformdirs
plotly
polling2
prettytable
prompt_toolkit
psutil
pure-eval
pyarrow
PyAutoGUI
pybadges
pycparser
pydantic
PyGetWindow
Pygments
PyJWT
PyMsgBox
pynance
pyparsing
pyperclip
pypi-json
PyRect
PyScreeze
python-dateutil
python-Levenshtein
pytweening
pytz
pywin32
pyzmq
rapidfuzz
referencing
requests
requests-ecp
retrying
rfc3986
rpds-py
s3transfer
scipy
setup-py-upgrade
setuptools
shippinglabel
simplejson
six
sniffio
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
tabulate
tenacity
tomli
tomli_w
tornado
traitlets
typeguard
typing_extensions
tzdata
Unidecode
uritemplate
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
WTForms
xlrd
yfinance
zipp
zstandard
